<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p{ color: red}
    </style>
</head>
<body>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>




<!--    <input th:type="hidden"  th:text="${product.id}">-->
    <div>
        <label>Name</label>
        <p th:text="${product.name}"></p>
    </div>
    <div>
        <label>Price</label>
        <p th:text="${product.price}"></p>
    </div>
    <div>
        <label>Describe</label>
        <p th:text="${product.describe}"></p>
    </div>
    <div>
        <label>Manufacturer</label>
        <p th:text="${product.manufacturer.name}"></p>
    </div>



</body>
</html>